* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  max-width: 100vw;
  overflow-x: clip;
}
.dark {
  background-color: hsla(0, 0%, 3%, 0.951);
  color: hsl(0, 0%, 100%);
}
/** ---------------------------------- header ---------------------------------------- */
header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: hsla(0, 0%, 0%, 0.573);
  backdrop-filter: blur(8px);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 999;
}

.logo {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.switch_button {
  cursor: pointer;
}
li a {
  position: relative;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}
li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  /* background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255)); */
  background: hsl(0, 0%, 100%);
}
li a:hover::before {
  width: 100%;
}
.visit-btn {
  position: relative;
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: hsla(0, 0%, 0%, 0.8);
  cursor: pointer;
  text-wrap: nowrap;
  /* background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255)); */
  background: hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.go,
.visit {
  display: inline-block;
  transition: 0.3s;
}
.go {
  position: absolute;
  top: 0;
  border-radius: 3rem;
  right: -127px;
  line-height: 42px;
  background-color: hsl(21, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
}
.visit-btn:hover {
  /* background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255)); */
  background: hsl(0, 0%, 100%);
  transform: scale(1.03);
}
.visit-btn:hover .visit {
  transform: translateX(-127px);
}
.visit-btn:hover .go {
  transform: translateX(-127px);
}
#menu-icon {
  font-size: 2rem;
  display: none;
}

/* all sections */
section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
  /* filter: invert(1); */
}
.section-title {
  /* color: hsl(145, 63%, 49%); */
  color: hsl(21, 91%, 48%);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  /* background: linear-gradient(to right, rgb(251, 153, 153), rgb(156, 184, 245));
  background-clip: text; */
}

/**         -------------------------- about section -------------------------      */

.about {
  display: flex;
  align-items: center;
}
.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.about img {
  width: 30vw;
  border-radius: 50%;
}
.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}
.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}
.info-box .job-title {
  /* background: linear-gradient(to right, hsl(0, 92%, 79%), hsl(221, 82%, 79%)); */

  background: linear-gradient(to right, hsl(21, 96%, 49%), hsl(21, 79%, 70%));

  background-clip: text;
  color: transparent;
  font-size: 2rem;
}
.social-box {
  display: flex;
  gap: 3rem;
}
.social-box i {
  color: hsl(21, 96%, 49%);
}
.info-box .social-box span {
  display: block;
  text-align: center;
  overflow: hidden;
  border: 1px solid hsl(21, 96%, 49%);
  border-radius: 50%;
  transition: 0.3s;
}
.social-box span:hover {
  transform: scale(1.2);
  border: none;
  background-color: hsl(21, 96%, 49%);
  box-shadow: 0 3px 20px hsla(21, 91%, 48%, 0.507);
}
.social-box span:hover i {
  color: hsl(0, 0%, 100%);
}
.social-box a {
  display: block;
  padding: 10px 15px;
  z-index: -1;
}
.btn-contact .btn {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid hsl(21, 91%, 48%);
  /* background-color: hsl(21, 91%, 48%); */
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  z-index: 500;
  box-shadow: 0 6px 20px hsla(21, 91%, 48%, 0.507);
  /* transition: 0.2s ease-in-out; */
  background: linear-gradient(
    to right,
    hsl(21, 91%, 48%),
    hsl(177, 60%, 50%),
    hsl(54, 100%, 62%),
    hsl(41, 92%, 58%)
  );
  background-size: 400%;
}
.btn-contact .btn:hover {
  transform: scale(1.1);
  animation: animate 8s linear infinite;
  border: none;
}
@keyframes animate {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}
.btn-contact .btn::before {
  content: "";
  position: absolute;
  inset: -3px;
  z-index: -1;
  background: linear-gradient(
    to right,
    hsl(21, 91%, 48%),
    hsl(177, 60%, 50%),
    hsl(54, 100%, 62%),
    hsl(41, 92%, 58%)
  );
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
}
.btn-contact .btn:hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
/* .btn:hover {
  transform: scale(1.1);
} */

/*                      skills section                    */

.skills-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.skills-info img {
  border: 1px solid hsl(21, 96%, 49%);
  width: 24vw;
  border-radius: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grids-card {
  border: 4px solid hsl(21, 96%, 49%);
  color: hsl(0, 0%, 100%);
  border-radius: 3rem;
  padding: 3rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* can be removed, depends on the size */
  padding-bottom: 80px;
  text-align: center;
}

.grids-card:hover {
  transform: scale(1.05);
  background-color: hsla(0, 0%, 0%, 0.806);
  color: hsl(0, 0%, 100%);
  border-color: transparent;
}
.grids-card:hover h3 {
  color: transparent;
  background: linear-gradient(to right, hsl(166, 80%, 66%), hsl(0, 80%, 53%));
  background-clip: text;
}
.grids-card h3 {
  color: hsl(0, 0%, 48%);
  font-size: 1.8rem;
  /* font-weight: 400; */
}
.grids-card,
.grids-card h3 {
  transition: 0.2s ease-in-out;
}
.grids-card .skillset {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.skillset span {
  padding: 10px 15px;
  /* background-color: hsl(145, 63%, 49%); */
  background-color: hsl(21, 91%, 48%);
  border-radius: 3rem;
}

/*                    project section                */

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.projects-container {
  /* box-shadow: 0 30px 50px #dbdbdb; */
  flex: 1;
  flex-shrink: 0;
  /* width: max-content; */
  position: relative;
  width: 100%;
  min-height: 500px;
  /* background-color: pink; */
}

.project {
  width: 12.5rem;
  height: 18.75rem;
  background-position: 50% 15%;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px hsl(0, 0%, 31%);
  transition: 0.5s;
  /* margin: 0 2rem; */
}
.project:nth-child(1),
.project:nth-child(2) {
  top: 0;
  left: 50%;
  width: 90%;
  min-height: 400px;
  height: 100%;
  transform: translate(-50%, 0);
  border-radius: 0;
  box-shadow: none;
  aspect-ratio: 16/9;
}
.project:nth-child(3) {
  left: 60%;
  opacity: 0.7;
}
.project:nth-child(4) {
  left: calc(60% + 220px);
  opacity: 0.7;
}
.project:nth-child(5) {
  left: calc(60% + 440px);
  opacity: 0.7;
}
.project:nth-child(n + 6) {
  left: calc(60% + 660px);
  opacity: 0;
}
.project .content {
  width: 15rem;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-family: system-ui;
  color: hsl(0, 0%, 93%);
  display: none;
  /* background-color: pink; */
}
.project:nth-child(2) .content {
  display: block;
}
.project .project-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: hsla(21, 91%, 48%, 0.646);
  opacity: 0;
  animation: showcontent 1s ease-in-out forwards;
}
.project .project-description {
  margin: 1.1rem 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s forwards;
}
.project .project-category {
  color: hsla(21, 91%, 48%, 0.646);
  font-weight: bold;
  margin-left: 3px;
}
.project button {
  padding: 10px 20px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(21, 91%, 48%);
  z-index: 1;
  border-radius: 30px;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.8s forwards;
  cursor: pointer;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
.tags {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tags span {
  background-color: hsla(21, 91%, 48%, 0.646);
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
}
.buttons {
  /* width: 100%; */
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: -50px */
  text-align: center;
}
.project_button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid hsl(0, 0%, 33%);
  margin: 0 15px;
  transition: 0.5s;
}
.project_button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 80%);
}

/*                      Contact section                    */

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.input-box {
  font-size: 1rem;
  display: flex;
}
.input-box input,
.input-box textarea {
  border-radius: 1rem;
  border: 2px solid hsl(0, 0%, 51%);
  padding: 1.5rem;
  width: 400px;
  font-size: 1.1rem;
}

.input-box p {
  margin: 5px;
  color: #ff0000;
}
#message {
  min-height: 300px;
  max-height: 500px;
  height: 400px;
  resize: none;
}
.btn-submit {
  border: none;
  padding: 10px 20px;
  background-color: hsl(21, 91%, 48%);
  color: hsl(0, 0%, 100%);
  border-radius: 5vmin;
  transition: 0.3s;
  cursor: pointer;
}
.btn-submit:hover {
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

/** ------------------------ footer ---------------------------- */
footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
footer ul li a {
  color: hsl(21, 91%, 48%);
  font-weight: 600;
}
.copyright {
  font-size: 300;
  margin-top: 2rem;
}

/* * ----------------------- Responsive ----------------------- */

/* 1418 */
@media (max-width: 1418px) {
  .skills-info {
    flex-direction: column;
  }
  .skills-info img {
    display: none;
  }
  .project:nth-child(n + 5) {
    left: calc(60% + 660px);
    opacity: 0;
  }
  .grids-card {
    padding: 2rem;
  }
}

/* 1280 */
@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .about .about-container {
    gap: 3rem;
  }
  .skills-info {
    flex-direction: column;
  }
  .skills-info img {
    display: none;
  }
  .project .content {
    top: 62%;
    left: 18px;
  }
}

/* 768 */
@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  header .logo {
    font-size: 1rem;
  }
  header .visit-btn {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project {
    width: 10.5rem;
    height: 15rem;
  }
  .project:nth-child(3) {
    left: calc(50% + 120px);
  }
  .project:nth-child(n + 4) {
    left: calc(60% + 660px);
    opacity: 0;
  }
  .project .content {
    top: 65%;
    left: 18px;
  }
}
/* 600 */
@media (max-width: 600px) {
  header {
    width: auto;
  }
  header #menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    margin: 1rem;
    width: 100%;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.9);
    display: none;
  }
  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .nav-links.active {
    display: block;
  }
  .nav-links a {
    display: block;
  }
  .project {
    width: 6.5rem;
    height: 11rem;
  }

  .project:nth-child(3) {
    left: calc(50% + 80px);
  }
  header {
    padding: 1rem 5rem;
  }
  /* test */
  .project .content {
    top: 65%;
    left: 25px;
    width: 13.7rem;
  }
  .project .project-title {
    font-size: 1.2rem;
  }
  .project .project-description {
    margin: 1rem 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s forwards;
  }
  .project button {
    padding: 5px 10px;
  }
  .project_button {
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
/* 440 */
@media (max-width: 440px) {
  .input-box input,
  .input-box textarea {
    padding: 1.5rem;
    width: 300px;
    font-size: 1rem;
  }
  .tags span {
    font-size: 0.5rem;
  }
}
